body {
    background: #ffffff;
}

main .features {
    color: #000000;
    margin-top: 100px;
    text-align: center;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 75%;
    margin: 20px auto;
}

form {
    margin: 50px auto;
    text-align: center;
    width: 800px;
}

.messages {
    text-align: center;
    color: red;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    list-style-type: none;
}